{% extends 'TestTopicBundle::layout.html.twig' %}
{% form_theme form 'form_table_layout.html.twig'  %}
{% block body -%}
    <h1>Topic creation</h1>

    <form action="{{ path('TestTopicBundle_topic_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('TestTopicBundle_topic') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
